<!--    Navigation Part Start's-->

<nav class='navbar_main'>
  <div class="navbar_left">
    <i class="fas fa-bars"></i>
    <a class="navbar-brand" href="">Name of the Project</a>
  </div>
  <div class="navbar_center">
    <a class="nav-item nav-link" routerLink="/tasks" routerLinkActive="active-link">Tasks
      <span class="sr-only">(current)</span>
    </a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active-link">Users</a>
    <a class="nav-item nav-link" routerLink="/activity" routerLinkActive="active-link">Activity</a>
    <a class="nav-item nav-link" routerLink="/members" routerLinkActive="active-link">Members</a>
  </div>
  <div class="navbar_right">
    <span>
      <a class="nav-item nav-link" routerLink="">
        <i class="fas fa-user-circle"></i>
      </a>
    </span>
    <span>
      <a class="nav-item nav-link" routerLink="" >
        <i class="fas fa-life-ring"></i> Support</a>
    </span>
    <span>
      <a class="nav-item nav-link" routerLink="" >
        <i class="fas fa-comment-alt"></i>
      </a>
    </span>
  </div>
</nav>

<!--    Navigation Part End's-->
